.form-field {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 16px;
  margin-bottom: 36px;
}

.label {
  font-size: 1rem;
  color: var(--black-1);
}

.form-select {
    width: 100%;
}

.custom-input-number > * {
  --n-border: 1px solid var(--gray-1) !important;
  --n-box-shadow-focus: 0 0 0 0px rgba(255, 87, 51, 0.4) !important;
}

.n-input:not(.n-input--disabled).n-input--focus {
  background-color: transparent !important;
}

.n-input:not(.n-input--disabled).n-input--focus {
  background-color: transparent !important; /* Transparent background */
  border: 1px solid blue !important; /* Custom border color */
  box-shadow: 0 0 0 3px blue !important; /* Soft glow */
}

.n-input:focus {
  outline: 0px solid #fff !important; /* Change outline color */
  box-shadow: none !important;
  border: 1px solid red !important;
}
