@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
:root {
  --primary-bg-color-1: #f8f6f1;
  
  --primary-bg-color-3: #1f2937; 

  --primary-btn-color: #68a182;
  --primary-btn-color-2: #89aa8c;
  --primary-btn-color-3: #e4f4e7;


  /* for text bold */
  --olive-gray: #616354;
  --charcoal: #535252;

  --primary-hover-bg-color-1: #f3f5ef;
  
  --primary-text-color-1: #3a3939;
  --primary-text-color-2: #656262;

  --forest-green: #365243;

  --site-border-radius: 24px;

  --full-width-panel-size: calc(100% - 40px);

  --white-1: #fff;
  --red-1: #f47777;
  --red-2: #ea6464;
  --pale-red-1: #ffe6e6;

  --black-1: #232323;
  --black-2: #484848;
  --black-3: #656262;

  --gray-1: #b5b5b5;
  --gray-2: #a49f9f;
  --gray-3: #666464;
  
  --pale-gray-1: #d3d3d3;
  --pale-gray-2: #e7e5e5;

  /* image background */
  --very-light-gray: #efefef; 
  
  --hover-color: #f0f0f0;
  
  --dark-gray-1: #3e3e3e;

  --green-1: #039446;
  --green-2: #5cb183;

  --table-stripe: #f8f8f8;
  --line-gap: #e6e6e4;

  --box-shadow-1: 0 2px 5px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 4px 4px 0px rgba(0, 0, 0, 0.14);

  --font-size-x-small: 0.9rem;
  --font-size-small: 0.95rem;
  --font-size-regular: 1.05rem;
  --font-size-large: 1.25rem;

  --dashboard-top-nav-panel-height: 4.2rem;
  --dashboard-top-nav-panel-height-px: 67.2px; 

  --global-padding-space: 1rem;
}

body {
  background: var(--primary-bg-color-1);
  /* font-family: 'Roboto Slab', serif; */
  font-family: 'Manrope';
}

.dashboard-top-nav-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.2rem; 
  background-color: var(--primary-bg-color-1);
  z-index: 99;
}
@media (min-width: 1024px) {
  .dashboard-top-nav-panel {
    left: 100px;
    width: calc(100% - 100px);
  }
}

.header2 {
  font-size: var(--font-size-large);
  font-weight: 600;
  color: var(--black-2);
}

.header3 {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--black-2);
}

label {
  font-size: 1rem;
  margin: 6px 0;
  display: block;
}

.navPanel {
  border-bottom: 1px solid var(--gray-2);
  background: var(--primary-bg-color-1);
  z-index: 99;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background: transparent;
  border: 1px solid var(--gray-1) !important;
  box-shadow: none !important;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


.table th {
  text-align: left;
  font-size: var(--font-size-small);
}

.table td {
  background-color: var(--white-1);
  color: var(--black-2);
  font-size: var(--font-size-x-small);
  border-top: 1px solid #d2d4d7;
  cursor: pointer;
}

.table th,
.table td {
  white-space: nowrap; 
  padding-left: 15px;
}

.table tr:nth-child(even) {
  background-color: var(--table-stripe);
}

th {
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.75rem 1.5rem;
  color: var(--black-1);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

th:hover .th-sort-arrow {
  opacity: 1;
}

.th-sort-arrow {
  display: inline-block;
  margin-left: 8px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  vertical-align: middle;
}

.modal-title {
  font-size: 1.1rem;
  font-weight: 700 !important;
  color: var(--primary-text-color-1);
  padding: 22px 22px 15px;
  border-bottom: 1px solid var(--gray-1);
}

.modal-content {
  /* padding: 6px 16px 0px; */
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 8px 8px;
  background: var(--primary-bg-color-1);
  margin: 10px 20px 10px;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-group > label > span {
  color: var(--gray-2);
  font-size: 0.85rem;
}

.form-section-header {
  font-size: 1.05rem;
  font-weight: 700;
  margin-bottom: 16px;
  color: var(--black-2);
}

.form-section-header span {
  font-size: 0.8rem;
  color: #878585;
}

.label-description {
  font-size: 0.85rem;
  color: var(--gray-3);
}

.form-label {
  font-size: 0.88rem;
  font-weight: 600;
  color: var(--charcoal);
}

.form-description {
  color: #6d7f6e;
  font-size: 0.85rem;
  margin: 4px 0;
}

.error-message {
  font-size: 1rem;
  font-weight: 600;
  color: var(--red-1);
}

.modal-submit-section {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--gray-1);
  border-radius: 0 0 8px 8px;
  background: var(--primary-bg-color-1);

  height: 70px;
  padding: 0 12px;
}
@media screen and (max-width: 900px) {
  .modal-submit-section {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background: var(--primary-bg-color-1);
  }
}

.modal-submit-section-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0px 8px;
  margin-right: 8px;
}

.remove-btn {
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: var(--pale-red-1);
  border: 1px solid #ffcccc;
  border-radius: 50%;
}

/* Home */
.home-header2-block {
  text-align: center;
  margin-bottom: 4rem; 
}

.home-header2-subtitle {
  color: #6b7280; 
  font-size: 1rem; 
  margin-bottom: 0.5rem;
}

.home-header2-title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--black-2);
}

.home-content-header {
  font-weight: 700;
  font-size: 1.7rem;
  color: var(--black-2);
  margin: 0;
  padding: 0 0 30px 0;
}
@media screen and (max-width: 850px) {
  .home-content-header {
    padding: 0 0 20px 0;
  }
}

.home-content-description {
  font-size: 1rem;
  color: var(--black-2);
  margin: 0 !important;
  padding: 0 !important;
  line-height: 1.7;
}

.home-content-list {
  font-size: 1rem;
  line-height: 1.6;
  padding-left: 1.5rem; 
  list-style: disc;
  padding-top: 1rem;
  color: var(--black-2);
  li {
    margin-bottom: 1rem;
  }
}

.trash-icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--red-1);
}

/* Table headers */
.table-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  flex-wrap: wrap;
  border: 1px solid var(--gray-1);
  border-bottom: 0px solid var(--gray-1);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background: var(--white-1);
}
@media screen and (max-width: 850px) {
  .table-filters {
    flex-direction: column;
    align-items: flex-start;
  }
  .filter-left { 
    margin-bottom: 12px !important;
  }
}

.filter-left {
  flex: 1;
  min-width: 200px;
}
@media screen and (max-width: 850px) {
  .filter-left { 
    margin-bottom: 12px !important;
  }
}

.search-input {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input .icon {
  position: absolute;
  left: 10px;
  color: #999;
  font-size: 16px;
}

.search-input input {
  padding: 5px 5px 5px 32px;
  width: 100%;
  border: 1px solid var(--gray-1);
  outline: 1px solid var(--gray-1);
  border-radius: 6px;
  font-size: 14px;
  max-width: 300px;
}

.search-input input:focus {
  border: 1px solid var(--green-1);
  outline: 1px solid var(--green-1) !important;
  outline-offset: 1px;
}

.filter-right {
  display: flex;
  gap: 12px;
  align-items: center;
}

.date-input {
  height: 36px;
  min-width: 190px;
  padding: 5px 10px;
  border: 1px solid var(--gray-2);
  border-radius: 6px;
  font-size: 14px;
}

.filter-section {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 16px 16px 0;
  gap: 12px;
}

.filter-section button {
  border-radius: 0.25rem;
  font-size: var(--font-size-x-small);
  color: var(--black-2);
  border-radius: 30px;
}

/* Table headers end */

.date-input {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 8px 12px;
  outline: none;
}
.date-input:focus {
  border-color: var(--primary-btn-color);
}